In [89]:

import pandas as pd
import json
activities_df = pd.read_csv('data/overview_data.csv')
activities_df['data']=activities_df['data'].apply(json.loads)
activities_df.head()

    rider_id  activity_id                                               data
0  2006007.0   1611279159  {'Date': 'Wednesday, May 30, 2018', 'Location'...
1  2006007.0   1611279670  {'Date': 'Thursday, May 31, 2018', 'Location':...
2  2006007.0   1611280022  {'Date': 'Friday, June 1, 2018', 'Location': '...
3  2006007.0   1611540996  {'Date': 'Saturday, June 2, 2018', 'Location':...
4  2006007.0   1612080421  {'Date': 'Wednesday, March 7, 2018', 'Location...

In [98]:
data_path = "C:\\Users\\User\OneDrive - post.bgu.ac.il\STRAVA data\data"

data_df  = pd.read_csv(f"{data_path}\\11\overview_data.csv")
types_df  = pd.read_csv(f"{data_path}\\11\\activity_analysis_links.csv")
types_dict = {k:v for k,v in zip(types_df['activity_id'],types_df['activity_type'])}
data_df['data']=data_df['data'].apply(json.loads)
norm_data_df = pd.json_normalize(data_df['data'], max_level=1)
full_df = pd.concat([data_df,norm_data_df],axis=1).drop('data',1)
full_df['activity_type'] = full_df['activity_id'].map(types_dict)
full_df

,rider_id,activity_id,Date,Location,Distance,Moving Time,Elevation,Relative Effort,Weighted Avg Power,AvgSpeed,...,Total Work,MaxPower,Speed,Perceived Exertion,Weather,Humidity,Feels like,Wind Speed,Wind Direction,activity_type
0,384548.0,1025594076,"Monday, June 5, 2017","Hürth, Germany",80.11,2.650,366.0,29.0,219.0,30.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
1,384548.0,1025596963,"Wednesday, June 7, 2017","Hürth, Germany",44.39,2.115,314.0,19.0,201.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
2,384548.0,1026449115,"Thursday, June 8, 2017",None,0.58,0.236,2.0,13.0,245.0,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,384548.0,1026853801,"Thursday, June 8, 2017","Hürth, Germany",121.20,3.878,878.0,52.0,245.0,31.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
4,384548.0,1027844939,"Friday, June 9, 2017","Hürth, Germany",62.32,1.982,242.0,NaN,234.0,31.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5384,384548.0,990524952,"Tuesday, May 16, 2017","Assisi, Italy",19.05,0.661,93.0,6.0,219.0,28.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
5385,384548.0,993670796,"Wednesday, May 17, 2017","Florence, Italy",158.84,4.814,3674.0,NaN,342.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
5386,384548.0,995154393,"Thursday, May 18, 2017","Forlì, Italy",229.43,5.361,1686.0,NaN,282.0,42.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
5387,384548.0,4323093460,"Wednesday, November 11, 2020","Hürth, Germany",51.90,2.221,579.0,35.0,NaN,23.4,...,NaN,NaN,NaN,Moderate,Partly Cloudy,79%,14,7.5,SE,Ride
5388,384548.0,4941519106,"Saturday, March 13, 2021","Gilette, France",121.07,3.628,2879.0,NaN,270.0,33.4,...,2975.0,1565.0,NaN,Easy,Clear,25%,12,4.4,SW,Ride

In [101]:
WORKOUTS_STRAVA_COLS = ['rider_id','activity_id','activity_type','Date','Duration','Location', 'Moving Time','MaxSpeed',
                        'Relative Effort', 'Distance', 'Elevation', 'AvgCadence', 'Temperature', 'AvgHeart Rate', 'Intensity',
                        'Historic Relative Effort', 'Elapsed Time', 'Calories', 'AvgSpeed', 'MaxCadence', 'AvgPower', 'Massive Relative Effort',
                        'MaxPower', 'Tough Relative Effort', 'Energy Output', 'Weighted Avg Power', 'Total Work', 'Device',
                        'Training Load', 'MaxHeart Rate', 'Estimated Avg Power', 'Speed','Perceived Exertion','Feels like',
                        'Humidity', 'Weather', 'Wind Direction', 'Wind Speed']

set(WORKOUTS_STRAVA_COLS) - set(norm_data_df.columns)

{'Intensity', 'Training Load', 'activity_id', 'activity_type', 'rider_id'}

In [19]:
full_df = pd.concat([activities_df,norm_data_df],axis=1).drop('data',1)
full_df

,rider_id,activity_id,Date,Location,Distance,Moving Time,Elevation,Weighted Avg Power,Total Work,AvgSpeed,...,AvgHeart Rate,MaxHeart Rate,Training Load,Intensity,Relative Effort,Tough Relative Effort,Historic Relative Effort,Massive Relative Effort,Duration,Speed
0,2006007.0,1611279159,"Wednesday, May 30, 2018","Castelfiorentino, Italy",64.44,2.112,233.0,149.0,994.0,30.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2006007.0,1611279670,"Thursday, May 31, 2018","Castelfiorentino, Italy",100.43,3.367,764.0,216.0,1928.0,29.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006007.0,1611280022,"Friday, June 1, 2018","Castelfiorentino, Italy",63.22,2.161,656.0,234.0,1207.0,29.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2006007.0,1611540996,"Saturday, June 2, 2018","Castelfiorentino, Italy",42.59,1.482,103.0,117.0,585.0,28.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006007.0,1612080421,"Wednesday, March 7, 2018","Camaiore, Italy",1.97,0.106,1.0,71.0,25.0,18.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25047,3419730.0,985928850,"Sunday, May 14, 2017","Railton, Australia",74.43,1.998,1154.0,NaN,NaN,37.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25048,3419730.0,993821572,"Thursday, May 18, 2017",None,56.90,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.767,32.2
25049,3419730.0,996233460,"Saturday, May 20, 2017","Invercargill City, New Zealand",110.02,3.974,394.0,NaN,NaN,27.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25050,3419730.0,996300307,"Friday, May 19, 2017",None,22.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.783,12.3
25051,3419730.0,997795397,"Sunday, May 21, 2017","Invercargill City, New Zealand",91.48,2.841,328.0,NaN,NaN,32.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
types_df = pd.read_csv('link/activity_analysis_links.csv')
types_df.head()
types_dict = {k:v for k,v in zip(types_df['activity_id'],types_df['activity_type'])}
types_df_2 = pd.read_csv('link/activity_link_types- full.csv')
types_dict.update({k:v for k,v in zip(types_df_2['activity_id'],types_df_2['activity_type'])})
types_dict[1612080511]

'Indoor Cycling'

In [21]:
full_df['activity_type'] = full_df['activity_id'].map(types_dict)

In [24]:
full_df[full_df['activity_type'].isna()]

Empty DataFrame
Columns: [rider_id, activity_id, Date, Location, Distance, Moving Time, Elevation, Weighted Avg Power, Total Work, AvgSpeed, MaxSpeed, AvgCadence, MaxCadence, AvgPower, MaxPower, Calories, Temperature, Elapsed Time, Device, Estimated Avg Power, Energy Output, AvgHeart Rate, MaxHeart Rate, Training Load, Intensity, Relative Effort, Tough Relative Effort, Historic Relative Effort, Massive Relative Effort, Duration, Speed, activity_type]
Index: []

[0 rows x 32 columns]

In [23]:
# full_df.to_csv('./data/activity_data_draft.csv',index=False,header=True)

In [25]:
full_df[full_df['activity_type'].isin(['Ride–Commute','Ride'])]

,rider_id,activity_id,Date,Location,Distance,Moving Time,Elevation,Weighted Avg Power,Total Work,AvgSpeed,...,MaxHeart Rate,Training Load,Intensity,Relative Effort,Tough Relative Effort,Historic Relative Effort,Massive Relative Effort,Duration,Speed,activity_type
0,2006007.0,1611279159,"Wednesday, May 30, 2018","Castelfiorentino, Italy",64.44,2.112,233.0,149.0,994.0,30.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
1,2006007.0,1611279670,"Thursday, May 31, 2018","Castelfiorentino, Italy",100.43,3.367,764.0,216.0,1928.0,29.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
2,2006007.0,1611280022,"Friday, June 1, 2018","Castelfiorentino, Italy",63.22,2.161,656.0,234.0,1207.0,29.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
3,2006007.0,1611540996,"Saturday, June 2, 2018","Castelfiorentino, Italy",42.59,1.482,103.0,117.0,585.0,28.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
4,2006007.0,1612080421,"Wednesday, March 7, 2018","Camaiore, Italy",1.97,0.106,1.0,71.0,25.0,18.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25047,3419730.0,985928850,"Sunday, May 14, 2017","Railton, Australia",74.43,1.998,1154.0,NaN,NaN,37.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
25048,3419730.0,993821572,"Thursday, May 18, 2017",None,56.90,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.767,32.2,Ride
25049,3419730.0,996233460,"Saturday, May 20, 2017","Invercargill City, New Zealand",110.02,3.974,394.0,NaN,NaN,27.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride
25050,3419730.0,996300307,"Friday, May 19, 2017",None,22.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.783,12.3,Ride
25051,3419730.0,997795397,"Sunday, May 21, 2017","Invercargill City, New Zealand",91.48,2.841,328.0,NaN,NaN,32.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ride

In [36]:
outdoor_only_df= full_df[full_df['activity_type'].isin(['Ride–Commute','Ride'])]

outdoor_only_df[(outdoor_only_df['Moving Time'].isna()) & (outdoor_only_df['Duration'].isna())]

Empty DataFrame
Columns: [rider_id, activity_id, Date, Location, Distance, Moving Time, Elevation, Weighted Avg Power, Total Work, AvgSpeed, MaxSpeed, AvgCadence, MaxCadence, AvgPower, MaxPower, Calories, Temperature, Elapsed Time, Device, Estimated Avg Power, Energy Output, AvgHeart Rate, MaxHeart Rate, Training Load, Intensity, Relative Effort, Tough Relative Effort, Historic Relative Effort, Massive Relative Effort, Duration, Speed, activity_type]
Index: []

[0 rows x 32 columns]

In [38]:
outdoor_only_df.shape

(23208, 32)

In [74]:
outdoor_only_df['Total Time'] = outdoor_only_df[['Moving Time','Duration']].apply(func,axis=1)
outdoor_only_df['Dist Elev Pythagoras'] = outdoor_only_df[['Distance','Elevation']].apply(func_p,axis=1)
outdoor_only_df['Dist Elev Time'] = outdoor_only_df[['Dist Elev Pythagoras','Total Time']].apply(div_ignore_nan,axis=1)

C:\Users\User\AppData\Local\Temp/ipykernel_61888/2972470490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outdoor_only_df['Total Time'] = outdoor_only_df[['Moving Time','Duration']].apply(func,axis=1)
C:\Users\User\AppData\Local\Temp/ipykernel_61888/2972470490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outdoor_only_df['Dist Elev Pythagoras'] = outdoor_only_df[['Distance','Elevation']].apply(func_p,axis=1)
C:\Users\User\AppData\Local\Temp/ipykernel_61888/3477611283.py:5: RuntimeWarning: invalid value encountered in double_scalars
  return r[0]/r[1]
C:\Users\User\AppData\Local\Temp/ipykernel_61888/3477611283.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  return r[0]/r[1]
C:\Users\User\AppData\Local\Temp/ipykernel_61888/2972470490.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outdoor_only_df['Dist Elev Time'] = outdoor_only_df[['Dist Elev Pythagoras','Total Time']].apply(div_ignore_nan,axis=1)

In [84]:
def sqrt(x):
    if str(x) == 'nan':
        return None
    else:
        return math.sqrt(x)
outdoor_only_df['sqrt(Dist Elev Time)'] = outdoor_only_df['Dist Elev Time'].apply(sqrt)

In [85]:
outdoor_only_df.to_csv('./data/outdoor_only_with_pythagoras.csv',index=False,header=True)
outdoor_only_df.head()

,rider_id,activity_id,Date,Location,Distance,Moving Time,Elevation,Weighted Avg Power,Total Work,AvgSpeed,...,Tough Relative Effort,Historic Relative Effort,Massive Relative Effort,Duration,Speed,activity_type,Total Time,Dist Elev Pythagoras,Dist Elev Time,sqrt(Dist Elev Time)
0,2006007.0,1611279159,"Wednesday, May 30, 2018","Castelfiorentino, Italy",64.44,2.112,233.0,149.0,994.0,30.5,...,NaN,NaN,NaN,NaN,NaN,Ride,2.112,241.746796,114.463445,10.698759
1,2006007.0,1611279670,"Thursday, May 31, 2018","Castelfiorentino, Italy",100.43,3.367,764.0,216.0,1928.0,29.8,...,NaN,NaN,NaN,NaN,NaN,Ride,3.367,770.572634,228.860301,15.128129
2,2006007.0,1611280022,"Friday, June 1, 2018","Castelfiorentino, Italy",63.22,2.161,656.0,234.0,1207.0,29.3,...,NaN,NaN,NaN,NaN,NaN,Ride,2.161,659.039277,304.969587,17.463378
3,2006007.0,1611540996,"Saturday, June 2, 2018","Castelfiorentino, Italy",42.59,1.482,103.0,117.0,585.0,28.7,...,NaN,NaN,NaN,NaN,NaN,Ride,1.482,111.458100,75.207895,8.672249
4,2006007.0,1612080421,"Wednesday, March 7, 2018","Camaiore, Italy",1.97,0.106,1.0,71.0,25.0,18.7,...,NaN,NaN,NaN,NaN,NaN,Ride,0.106,2.209276,20.842225,4.565329

In [77]:
from pandas_profiling import ProfileReport


profile_W = ProfileReport(outdoor_only_df[['Distance','Elevation','Total Time','Dist Elev Time']], title="Workouts - Pandas Profiling Report")
profile_W.to_file("STRAVA_workouts_profile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\User\PycharmProjects\velodrome-backend\venv\lib\site-packages\numpy\core\_methods.py:229: RuntimeWarning: invalid value encountered in subtract
  x = asanyarray(arr - arrmean)

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
# import json
#
# activities_norm_df = pd.DataFrame(columns=WORKOUTS_STRAVA_COLS)
# for i,r in activities_df.iterrows():
#     data = json.loads(r['data'])
#     for col in WORKOUTS_STRAVA_COLS:
#         if col in ['rider_id','activity_id']:
#             activities_norm_df.at[i,col] = r[col]
#         else:
#             if col in data:
#                 activities_norm_df.at[i,col] = data[col]
#             else:
#                 activities_norm_df.at[i,col] = None
#
#

In [ ]:
# activities_norm_df['activity_type'].head()
#

In [ ]:
# activities_norm_df.to_csv('./data/activity_data_draft.csv',index=False,header=True)

In [ ]:
# activities_norm_df[['activity_id','Distance','Moving Time','Duration']][activities_norm_df['Duration'].isna() & activities_norm_df['Moving Time'].isna()]
#
# types_df = pd.read_csv('link/activity_analysis_links.csv')
# types_df.head()
# types_dict = {k:v for k,v in zip(types_df['activity_id'],types_df['activity_type'])}
# types_df_2 = pd.read_csv('link/activity_link_types- full.csv')
# types_dict.update({k:v for k,v in zip(types_df_2['activity_id'],types_df_2['activity_type'])})
# types_dict[1612080511]
#
# activities_norm_df
# activities_norm_df[activities_norm_df['activity_type'].isin(['Ride–Commute','Ride'])]
# activities_norm_df[activities_norm_df['activity_type']
#
#
# pd.DataFrame()

In [109]:
import os
csv_path='./data/total_data.csv'
pd.DataFrame(columns=WORKOUTS_STRAVA_COLS).to_csv(csv_path,index=False,header=True)
processed=['10']
data_path = "C:\\Users\\User\OneDrive - post.bgu.ac.il\STRAVA data\data"
for dir in os.listdir(data_path):
    if dir in processed:
        continue
    try:
        data_df  = pd.read_csv(f"{data_path}\\{dir}\overview_data.csv")
        types_df  = pd.read_csv(f"{data_path}\\{dir}\\activity_analysis_links.csv")
        types_dict = {k:v for k,v in zip(types_df['activity_id'],types_df['activity_type'])}
        data_df['data']=data_df['data'].apply(json.loads)
        norm_data_df = pd.json_normalize(data_df['data'], max_level=1)
        full_df = pd.concat([data_df,norm_data_df],axis=1).drop('data',1)
        full_df = pd.DataFrame(full_df,columns=WORKOUTS_STRAVA_COLS)
        full_df['activity_type'] = full_df['activity_id'].map(types_dict)
        full_df.to_csv(csv_path,index=False,mode='a',header=False)
        processed.append(dir)
    except:
        print(dir)
        print(processed)

In [110]:
processed

['10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '18',
 '19',
 '20',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 'mine']

In [111]:

total_data_df  = pd.read_csv(csv_path)
len(total_data_df)

C:\Users\User\PycharmProjects\velodrome-backend\venv\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (32,34,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

160259

In [112]:
len(total_data_df['rider_id'].unique())

60

In [113]:

total_data_df[total_data_df['activity_type'].isin(['Ride–Commute','Ride'])]

,rider_id,activity_id,activity_type,Date,Duration,Location,Moving Time,MaxSpeed,Relative Effort,Distance,...,Training Load,MaxHeart Rate,Estimated Avg Power,Speed,Perceived Exertion,Feels like,Humidity,Weather,Wind Direction,Wind Speed
0,384548.0,1025594076,Ride,"Monday, June 5, 2017",NaN,"Hürth, Germany",2.650,56.2,29.0,80.11,...,NaN,131.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,384548.0,1025596963,Ride,"Wednesday, June 7, 2017",NaN,"Hürth, Germany",2.115,64.8,19.0,44.39,...,NaN,138.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,384548.0,1026853801,Ride,"Thursday, June 8, 2017",NaN,"Hürth, Germany",3.878,69.1,52.0,121.20,...,NaN,145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,384548.0,1027844939,Ride,"Friday, June 9, 2017",NaN,"Hürth, Germany",1.982,65.2,NaN,62.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,384548.0,110591998,Ride,"Sunday, February 2, 2014",NaN,"Hürth, Germany",3.812,62.3,NaN,115.45,...,NaN,NaN,204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160252,3419730.0,983816685,Ride,"Saturday, May 13, 2017",NaN,"Riana, Australia",0.118,50.8,NaN,2.72,...,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160253,3419730.0,985928541,Ride,"Sunday, May 14, 2017",NaN,"Railton, Australia",0.244,54.0,NaN,6.62,...,NaN,NaN,145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160254,3419730.0,985928850,Ride,"Sunday, May 14, 2017",NaN,"Railton, Australia",1.998,85.0,NaN,74.43,...,NaN,NaN,329.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160256,3419730.0,996233460,Ride,"Saturday, May 20, 2017",NaN,"Invercargill City, New Zealand",3.974,47.5,NaN,110.02,...,NaN,NaN,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160258,3419730.0,997795397,Ride,"Sunday, May 21, 2017",NaN,"Invercargill City, New Zealand",2.841,52.9,NaN,91.48,...,NaN,NaN,172.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
types_df_2 = pd.read_csv('link/activity_link_types- full.csv')

In [117]:
types_df_2=types_df_2.drop_duplicates()

In [119]:
test = pd.read_csv('link/riders_activity_links.csv')
test

        rider_id                                  activity_link  activity_id
0       134614.0     https://www.strava.com/activities/54132654     54132654
1       134614.0   https://www.strava.com/activities/1325763142   1325763142
2       134614.0   https://www.strava.com/activities/1348111434   1348111434
3       134614.0   https://www.strava.com/activities/1348110945   1348110945
4       134614.0   https://www.strava.com/activities/1322943680   1322943680
...          ...                                            ...          ...
88750  9545283.0  https://www.strava.com//activities/6378802203   6378802203
88751  9545283.0  https://www.strava.com//activities/6422800084   6422800084
88752  9545283.0  https://www.strava.com//activities/6418666225   6418666225
88753  9545283.0  https://www.strava.com//activities/6418719753   6418719753
88754  9545283.0  https://www.strava.com//activities/6406488148   6406488148

[88755 rows x 3 columns]

In [120]:

set(test['activity_id']) - set(types_df_2['activity_id'])

{1599905804,
 989118477,
 1278640143,
 2375213071,
 4181090323,
 1592786964,
 1032937493,
 1515618324,
 2993053721,
 2994806812,
 2208661533,
 3523493925,
 2123857958,
 376873000,
 6366429225,
 440606762,
 4315299883,
 1342930985,
 973578284,
 3813335088,
 2774286385,
 3266838581,
 3803840565,
 1935245367,
 1209483317,
 989118521,
 2054373432,
 2525151291,
 5847367734,
 609345597,
 4682891327,
 1920073793,
 4933951556,
 989118535,
 2072559690,
 609247308,
 717856845,
 4715102284,
 3885465679,
 2774286416,
 989118544,
 6408306769,
 717856851,
 4519632981,
 1109459029,
 3642974293,
 3171532888,
 3301400666,
 3212034138,
 3583574110,
 3294511199,
 4725710947,
 2724946021,
 4429250664,
 652656744,
 2371862633,
 2244092011,
 4441849965,
 3365175407,
 989118577,
 2567512182,
 4356186232,
 3513254009,
 922853498,
 2033156221,
 1073438846,
 1218822271,
 3501260929,
 4033609858,
 1072259207,
 3163988107,
 989118605,
 989118608,
 1109459088,
 3383320720,
 2148892816,
 989118612,
 1011777686,
 4184252566,
 1515610264,
 3119063196,
 1515618460,
 5441364127,
 4507263135,
 861298849,
 989118626,
 2489131171,
 1927774373,
 989118631,
 1298694312,
 6173409450,
 3261513898,
 989118636,
 1331691694,
 2524815534,
 989118641,
 672424114,
 1624637620,
 4670881975,
 3721371839,
 532398272,
 989118660,
 2446901447,
 3382657225,
 2279555276,
 4366950607,
 1498177744,
 989118672,
 1685790931,
 3567419605,
 1515610327,
 2296848604,
 5170839773,
 3558678751,
 4649435361,
 2309390565,
 6158901481,
 2467651819,
 633848045,
 1746977006,
 583909615,
 5494235376,
 4363452657,
 3917422834,
 2489131251,
 556204277,
 3871146230,
 3474874616,
 2992316664,
 4758315263,
 1771544831,
 1008517377,
 5768454405,
 920879368,
 2452275466,
 423420171,
 1515618576,
 5876424978,
 1787568405,
 989118741,
 1468670229,
 633848088,
 5950480666,
 989118752,
 2525151521,
 5587812647,
 4429324584,
 2024751401,
 4325409070,
 3399467312,
 6006645052,
 3617841469,
 642400574,
 5876425022,
 3424297280,
 1141547329,
 3141763390,
 4311228741,
 6340796747,
 690454859,
 6283141453,
 3534758222,
 2114969935,
 1158717776,
 372621648,
 5964816720,
 5494235477,
 3009814870,
 5964816725,
 5657231706,
 3351642465,
 2487222626,
 2365014373,
 3789603175,
 1327407465,
 882336105,
 989118834,
 1008517494,
 4564812157,
 4625064318,
 715006336,
 5431099779,
 1008517510,
 4586111368,
 1008517517,
 4429226386,
 5201330581,
 5910512024,
 2452275609,
 2839912860,
 1684578717,
 4818755998,
 2346819998,
 409837989,
 1376108966,
 4000252326,
 589447594,
 788742573,
 1296654769,
 4698251698,
 591200692,
 1650295222,
 4840817081,
 6480355772,
 1687404989,
 2137678272,
 2279555522,
 402514371,
 2039505348,
 523903429,
 2388894147,
 973578693,
 912253381,
 6130745804,
 1043710414,
 2032566735,
 6264881620,
 3813679574,
 2348278233,
 1447559644,
 531628516,
 2077581796,
 3197010405,
 650297830,
 4454416872,
 6006645224,
 1515610602,
 2525143530,
 6393651692,
 4317356525,
 1290125810,
 765682164,
 531628533,
 360063480,
 3181363706,
 800408061,
 3349160446,
 5494333951,
 531628544,
 2994807294,
 3784425984,
 3310805501,
 5876425213,
 3378487815,
 2279555592,
 1515618826,
 1481720331,
 4389970444,
 1141547531,
 4629651978,
 3804439056,
 4481991186,
 2274238994,
 6366462484,
 447668755,
 856908309,
 3348881943,
 1994998298,
 531628572,
 3694559772,
 5212545576,
 778109481,
 1218822699,
 2117083692,
 778109488,
 5479383606,
 3980395070,
 1396113982,
 778109504,
 2349728321,
 5876425280,
 2404819523,
 2162172486,
 1505886792,
 1794269769,
 2315043405,
 3314131540,
 6288556629,
 3163988567,
 996368986,
 2167145051,
 3282313819,
 4125041244,
 2096210527,
 5731467872,
 502522466,
 922853988,
 6042092140,
 1708565111,
 2502468217,
 1079378554,
 1463804539,
 3306898044,
 3351528062,
 4835279486,
 907461246,
 5936439938,
 778109573,
 1079378566,
 6247203464,
 3170583177,
 4208034443,
 5847368335,
 4533699216,
 681714323,
 2165154454,
 1206911639,
 2606727831,
 1034879645,
 1376109214,
 827122335,
 2515206814,
 6286828193,
 2419491489,
 1866637987,
 4257858212,
 4336992933,
 1396114079,
 996369057,
 2019566252,
 2077827758,
 2173887151,
 5079270064,
 3200697009,
 4619231922,
 1687405236,
 1791222452,
 1785012920,
 1744880313,
 6200492730,
 2524816057,
 609338044,
 2026054335,
 4267524803,
 409240261,
 1133732550,
 2661360327,
 5970125512,
 1840415431,
 1343873740,
 3241296589,
 1515619022,
 4397384398,
 3551339216,
 2779415249,
 3270099668,
 778109653,
 1343873748,
 855917274,
 681714396,
 3261432541,
 996369117,
 1298694881,
 1582670564,
 5578826468,
 778109671,
 3368592104,
 1133732586,
 6232720107,
 3274605295,
 4075864819,
 1620615924,
 1433944821,
 4429226742,
 2169848565,
 649724661,
 3759022839,
 4741833472,
 4284728068,
 1340441352,
 5037237000,
 3990364940,
 3296305935,
 405127953,
 2021540625,
 3422577427,
 3306717971,
 4818756374,
 4051518232,
 3741303576,
 1515619110,
 1337344809,
 2199175978,
 1133732651,
 3156714284,
 4212204333,
 1075299117,
 5245371183,
 1001317169,
 1076388659,
 1481720636,
 4449051455,
 1785013059,
 1075299140,
 5322097480,
 1513743179,
 3742262091,
 1781244749,
 4858143572,
 1479508826,
 4794401628,
 4118807391,
 2123858785,
 5873050466,
 3029590882,
 1141547878,
 6288622440,
 418997099,
 3305669484,
 1233372016,
 2524816242,
 4035445619,
 3150447475,
 2077582195,
 3127624562,
 2088338295,
 662078327,
 3492733819,
 3701597053,
 3622527871,
 1075299200,
 1687405439,
 519144322,
 2021540743,
 1457161095,
 927458183,
 637387659,
 4201227149,
 4833502100,
 2586067861,
 2743862168,
 886031256,
 5626110876,
 2436424605,
 2111374237,
 6326141854,
 2754044829,
 2291344289,
 3165987747,
 3695854500,
 4759978916,
 2525152168,
 1732617132,
 1677468590,
 637387694,
 2706793393,
 1933501363,
 2023990195,
 6417589173,
 2582250422,
 1113457592,
 5587813306,
 637387707,
 1645855679,
 1687405507,
 2397660100,
 6452478920,
 908370889,
 1515619278,
 1933501393,
 1825276881,
 3010536403,
 3325371348,
 1073423318,
 1048290262,
 6321292249,
 5371782109,
 2257339361,
 3457827809,
 4715979751,
 3105530855,
 2601223145,
 464282605,
 1723196397,
 1662583792,
 750306290,
 2828387316,
 2266825717,
 3075679220,
 3553387511,
 4753613816,
 1191035897,
 2478982138,
 1145259001,
 2021409789,
 3764126717,
 1773454333,
 1145259006,
 3063677953,
 1515619329,
 2430870532,
 3052471303,
 1145259015,
 1145259016,
 1840440337,
 3876758548,
 1155343382,
 1734132760,
 5774066714,
 1501914138,
 1145259035,
 2177664030,
 5126865952,
 5000971299,
 5376558116,
 3378357286,
 603972649,
 3319104556,
 1396114476,
 603972661,
 5915042870,
 5765055542,
 4364100664,
 3718997051,
 1940767804,
 3150447677,
 1912030268,
 3269821505,
 3730187338,
 1717470285,
 887317584,
 855917655,
 2288927831,
 3271582811,
 1708237917,
 5847368797,
 5213652063,
 1825277025,
 2287101030,
 5685281894,
 5835760744,
 1113457770,
 4677772395,
 1073423468,
 4317357165,
 894379119,
 1708237942,
 5502690423,
 3042337911,
 609256569,
 2664203386,
 3677078646,
 2011784318,
 837346432,
 5830009984,
 2001470594,
 2397660290,
 2978964609,
 1636017288,
 2021541002,
 1010803854,
 3891676305,
 1654301841,
 3858130067,
 4033610900,
 4614931605,
 1428243606,
 3110478998,
 3807814803,
 5980464275,
 1454032018,
 1715905691,
 3514680476,
 837346461,
 2467652765,
 6352192668,
 5792564375,
 3311412385,
 2489304227,
 4201227428,
 2148230309,
 1537402024,
 1515611305,
 1325769900,
 4356179117,
 2205967534,
 3084592301,
 2489132212,
 829564084,
 5986002101,
 6106178747,
 150922427,
 3657508029,
 5365679297,
 150922434,
 2478982339,
 5299659971,
 1245996230,
 3152200902,
 4646528203,
 1708238030,
 6296962257,
 1018586322,
 1418454225,
 150922453,
 1490257111,
 150922458,
 150922459,
 2411095260,
 5847368928,
 3284755681,
 150922469,
 5954077926,
 150922473,
 150922474,
 603448553,
 150922477,
 2078688495,
 3138888943,
 1741399280,
 150922482,
 3269862644,
 837346549,
 4721943797,
 150922491,
 150922492,
 3369575676,
 1343874302,
 1515611391,
 2662286596,
 4731233541,
 1641260292,
 1433945351,
 1812587786,
 603448590,
 928793871,
 1933501711,
 630506769,
 150922512,
 2638947602,
 2279556372,
 3256345872,
 4080690454,
 603448599,
 150922521,
 1627538715,
 886048028,
 5300552989,
 5086168349,
 570795293,
 150922526,
 150922529,
 3931309340,
 3692004636,
 497567012,
 2583676188,
 4372325670,
 1489675558,
 4284728611,
 4045464878,
 4641113390,
 2596857138,
 5037237554,
 3379201336,
 837346619,
 2525144380,
 1253721405,
 150922558,
 1493763392,
 4704912706,
 2224784707,
 4429227332,
 3245393220,
 2254857541,
 4235109705,
 1795056970,
 2587649357,
 1940768077,
 150922573,
 2141242705,
 2199266643,
 1912030547,
 1877001557,
 2469979477,
 1245865301,
 6214452571,
 2925700444,
 1515611488,
 3340600676,
 2483946853,
 1933501797,
 1708238183,
 3825624423,
 1515619689,
 2026669418,
 1265075556,
 3296306540,
 2077582705,
 1935689074,
 2078688627,
 5365679477,
 1874175355,
 3684722044,
 570795388,
 3726517627,
 1637623173,
 150922634,
 401859980,
 2730321295,
 2050270613,
 3422578072,
 4486858137,
 3355157912,
 1652303262,
 4186416542,
 1400464805,
 2288215467,
 493877956,
 4715218350,
 2476210885,
 4585440689,
 807773617,
 1942767027,
 5626111414,
 4732962232,
 1410270652,
 5773256126,
 2288215489,
 3354871237,
 5432370630,
 1215956423,
 2287101383,
 850429390,
 1338262994,
 1215956435,
 4044924372,
 2524816853,
 3793216978,
 1400464855,
 1708565976,
 4579526111,
 1324082655,
 2143118817,
 1515611618,
 5856921068,
 554067436,
 2005583342,
 4763788784,
 1844291061,
 2091279865,
 5222671867,
 2950915581,
 4541203966,
 2119034366,
 1708238336,
 4061308416,
 2072471038,
 3962283527,
 3732776458,
 3976963596,
 1537402387,
 3302696468,
 553141781,
 5240686101,
 3113076249,
 4356179482,
 1847502370,
 1478084131,
 1366599208,
 2063623722,
 1522615851,
 6350857773,
 2678564398,
 6021129776,
 6342723121,
 3807413812,
 1515619893,
 3412919863,
 2519647800,
 1416824380,
 4333577792,
 5847369281,
 2104116802,
 4045465156,
 2028144198,
 4201227847,
 4633241160,
 3531687497,
 4094895691,
 360785484,
 4410287691,
 1623426641,
 3902858835,
 2143331924,
 3147736661,
 3201697367,
 1522615897,
 3846964826,
 3274532441,
 4029654618,
 1634248285,
 5610735200,
 1780131426,
 3055871587,
 3141756516,
 518768231,
 4252509800,
 794822249,
 3234702960,
 2007762546,
 521283186,
 2627544692,
 609338996,
 4405339766,
 3302696562,
 272492152,
 3922314873,
 1256711797,
 4522542715,
 1732339323,
 3140380286,
 271165056,
 2197661314,
 5021304450,
 1332659850,
 3147851405,
 1445258896,
 3019237009,
 2989024918,
 2907997848,
 518768280,
 1676158622,
 5737588385,
 3581658787,
 612165284,
 1560880809,
 2141046442,
 518768307,
 3179071156,
 1332659895,
 3743786680,
 1515620026,
 3714500285,
 1723205312,
 5737588419,
 525338310,
 2143332038,
 1623426759,
 4899972808,
 5030627024,
 3330049746,
 2196842198,
 3551340246,
 4327900887,
 3171641048,
 2896897754,
 4519741147,
 4963124964,
 4166346471,
 2441103080,
 2214635240,
 5737588471,
 2136581879,
 1728833271,
 1020987134,
 2227209984,
 2077583106,
 2322130693,
 1515620101,
 1332659973,
 6354405131,
 1521452812,
 2210858773,
 5812913942,
 1418897178,
 1444235035,
 4576896797,
 798336801,
 1050437413,
 3586877221,
 3764406056,
 1020987177,
 2011031339,
 2039506734,
 1708238639,
 1758480178,
 2397660978,
 1153189684,
 3316868914,
 5847369526,
 2697283384,
 2557142841,
 3231524667,
 3265357627,
 2525144891,
 5909169993,
 5737588554,
 3604113226,
 2433681227,
 3784427345,
 1515620177,
 4498581332,
 4067428182,
 2587649885,
 5206665057,
 4530079588,
 5002938213,
 887318374,
 3121579877,
 6301394789,
 1730963305,
 2086979436,
 1442228081,
 779659123,
 1065781109,
 3252316022,
 3817695096,
 2555611001,
 2333329272,
 4591101819,
 1901733760,
 558876544,
 2983954306,
 1776707459,
 3467822980,
 6333130626,
 2093459336,
 3003115404,
 1687406481,
 1732339606,
 1153189787,
 1444235163,
 1446930332,
 5909170075,
 1446930335,
 2069284766,
 1708238754,
 1432389540,
 3975694251,
 989120427,
 2349172652,
 1485875118,
 3032582060,
 2681604016,
 2704459691,
 763717554,
 3033196466,
 1445513140,
 5737588664,
 4185589692,
 1788610493,
 4994459582,
 989120447,
 4109436863,
 2143332289,
 2069284798,
 3983525827,
 2141243332,
 3202672582,
 1485875143,
 1200719815,
 989120457,
 2638948301,
 1400465359,
 3634530255,
 6256207830,
 4137453527,
 989120471,
 5847361494,
 2615666647,
 989120477,
 5578827743,
 1697302499,
 1687406563,
 6234245093,
 3201697766,
 2234230759,
 4923025384,
 1387562985,
 3781552106,
 4448569322,
 756525037,
 1687406574,
 1213319153,
 1605601265,
 3771377652,
 1195304953,
 3858343932,
 6084929533,
 2063656957,
 546695164,
 2176428034,
 756525059,
 5695916036,
 3118925828,
 989120521,
 1387563018,
 4800997386,
 2059626511,
 908863504,
 5825038352,
 989120532,
 2299398165,
 756525077,
 3800483864,
 5958395929,
 549881881,
 2462255132,
 756525087,
 3454445601,
 ...}

In [122]:
test[~test['activity_id'].isin(list(types_df_2['activity_id']))].to_csv('./link/additional_riders_activity_links.csv',index=False,header=True)

In [9]:
import pandas as pd
types_df_full = pd.read_csv('link/activity_link_types- full.csv')
types_df_full['activity_type'].unique()

array(['Ride', 'Indoor Cycling', 'Nordic Ski', 'Run', 'Ride – Commute',
       'Walk', 'Hike', 'Workout', 'Roller Ski', 'Virtual Ride', 'Race',
       'Weight Training', 'Ice Skate', 'Crossfit', 'Winter Sport',
       'Treadmill workout', 'Run – Commute', 'Yoga', 'Swim', 'Rowing',
       'Long Run', 'Virtual Run', 'Stand Up Paddling', 'Backcountry Ski',
       'Alpine Ski', 'E-Bike Ride', 'Velomobile', 'Inline Skate',
       'Workout – Commute', 'Golf'], dtype=object)

In [3]:

types_df_full[types_df_full['activity_type']=='Race'].to_csv('races_activity_links.csv',index=False,header=True)

In [4]:

import pandas as pd
types_df_full = pd.read_csv('link/additional_riders_activity_links.csv')